.app-container {
  font-family: Arial, sans-serif;
  background-color: #f9eaea;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.app-title {
  color: #d86868;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.app-subtitle {
  color: #757575;
  margin-bottom: 2rem;
}
